{{ define "header" }}
<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  {{ partial "header/meta.html" . }}
  {{ partial "header/styles.html" . }}
  {{ `<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->` | safeHTML }}
  {{ "<!-- Icons -->" | safeHTML }}
  <link rel="shortcut icon" href="/favicon.png">
  {{ partial "header/feeds.html" . }}
</head>
{{ end }}

{{ define "content" }}
  <div class="post-list">
    {{ range .Pages }}
      <div class="post-list__item">
        <span class="item__title--big">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ if .Draft }}<sup> <i class="fas fa-pen-square fa-xs"></i></sup>{{ end }}
        </span>
        <span class="item__date">
          {{ .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") }}
        </span>
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
        </div>
    {{ end }}
  </div>
{{ end }}

{{ define "footer" }}
{{ if .Site.GoogleAnalytics }}
  <!-- Google Analytics -->
  {{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{ partial "footer/font-awesome-js.html" . }}
{{ end }}
